.center {
    text-align: center;
}
.default:focus {
    outline: none;
}
.red {
    background-image: url(./redCircle.png);
    border: 5px solid #1c5a97;
    display: table-cell;
    float: left;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 130px;
}
.row {
    display: table-row;
}
.sizeConfig {
    font-size: 40px;
}
.td {
    background-color: #287ccf;
    border: 5px solid #1c5a97;
    color: white;
    display: table-cell;
    float: left;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 130px;
}
.td:hover {
    background-color: #ddd;
}
.table {
    border: 5px solid #1c5a97;
    display: table;
    margin: auto;
    margin-top: 100px;
}
.yellow {
    background-image: url(./yellowCircle.png);
    border: 5px solid #1c5a97;
    display: table-cell;
    float: left;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 130px;
}
